<%= form_for [@temp,@question], method: :post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.cktext_area :title, class: "form-control ckeditor" %>
  </div>
  <div class="form-group">
    <%= f.label :feedback %>
    <%= f.text_area :feedback, class: "form-control" %>
  </div>
  <div class="form-group question_type">
    <%= f.label :question_type %>
    <%= f.select :question_type, {"Single Choice" =>"single_choice","Multiple Choice" => "multiple_choice"},{},
      class: "form-control question-select" %>
  </div>
  <div class="form-group">
    <%= f.label :score %>
    <%= f.number_field :score, min: 0, class: "form-control time-limit"%>
  </div>
  <div class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <p>Questions</p>
  <hr>
  <div class="choice">
    <%= f.fields_for :answers do |builder| %>
      <%= render "answer_fields", f: builder %>
    <% end %>
    <p><%= link_to_add_fields t("questions.new.create"), f, :answers %></p>
  </div>
  <ul class="list-inline">
    <li>
      <%= f.submit t("button.create"), class: "btn btn-success" %>
    </li>
    <li>
      <%= f.submit t("button.continue"), class: "btn btn-success" %>
    </li>
  </ul>
<% end %>
