<div class="row">
  <div class="col-md-9">
  	<div class="row panel panel-default">
      <div class="col-md-10">
        <h2><%= @class.name %></h2>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" style="margin-top: 18px;">Out Group</button>
      </div>
  	</div>
     <p ><%= @class.description %></p>
    <hr>
    <div class="row box box-primary">
      <table class="table table-hover">
        <thead>
          <tr style="font-weight: bold;">
            <td>Exam</td>
            <td>By</td>
            <td>Time Exist</td>
            <td>Status</td>
            <td>Result</td>
          </tr>
        </thead>
        <tbody>
          <% @exam_users.each do |exam_user| %>
            <tr>
              <td>
                <% if exam_user.starting? && exam_user.start_date <= Time.now && exam_user.end_date > Time.now %>
                  <%= link_to exam_user.exam.title, start_exam_path(exam_user_id: exam_user.id) %>
                <% else %>
                  <%= link_to exam_user.exam.title, user_results_path(id: exam_user.id) %>
                <% end %>
              </td>
              <td><%= exam_user.exam.user.email %></td>
              <td>
                From: <%= exam_user.start_date.strftime "%H:%M:%S %d-%m-%Y" %> 
                To: <%= exam_user.end_date.strftime "%H:%M:%S %d-%m-%Y" %>
              </td>
              <td>
                <% if exam_user.init? %>
                  <span class="label label-default"><%= exam_user.status %></span>
                <% elsif exam_user.starting? %>
                  <span class="label label-primary"><%= exam_user.status %></span>
                <% else %>
                  <span class="label label-danger"><%= exam_user.status %></span>
                <% end %>
              </td>
              <td>
                <% if exam_user.finished? %>
                  <%= exam_user.score[0] %>/
                  <%= exam_user.exam.questions.size %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>