<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= exam_user.user.email %></h4>
      <h4 class="modal-title"><%= exam_user.exam.title %></h4>
    </div>
    <div class="modal-body">
      <%= form_for exam_user, url: group_exam_user_path(group, exam_user), remote: true do |f| %>
        <div class="errors"></div>
        <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="form-group">
                  <%= f.label :start_date, 'Start at' %>
                  <div class="input-group date">
                    <%= f.text_field :start_date, required: true,
                      class: 'form-control datetimepicker'%>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
               <div class="form-group">
                  <%= f.label :end_date, 'End at' %>
                  <div class="input-group date">
                    <%= f.text_field :end_date, required: true,
                      class: 'form-control datetimepicker'%>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <%= f.label :status, "Status" %>
          </div>
          <div class="col-md-3">
            <% if exam_user.init? %>
              <%= f.select :status, ExamUser.statuses.keys.to_a,{}, 
                class: "form-control" %>
            <% elsif exam_user.starting? %>
              <%= f.select :status, {"Starting" => :starting, "Finished" => :finished}, {}, class: "form-control" %>
            <% else %>
              <span class="label label-danger"><%= exam_user.status %></span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <% unless exam_user.finished? %>
            <%= f.submit t("button.submit"), class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>
