<% provide :title, @group.name %>
<div class="row group-show container-fluid panel">
  <h2><%= @group.name %></h2>
  <p><%= @group.description %></p>
</div>
<div class="row container-fluid group-show-content">
  <div class="col-md-8 panel">
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Student</td>
            <td>Exam</td>
            <td>Status</td>
            <td>Result</td>
            <td></td>
          </tr>
          <%= render partial: "filter" %>
        </thead>
        <tbody>
          <%= render partial: "exam_user", collection: @exam_users, as: :exam_user %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4" style="padding-left: 5%; padding-right: 0;">
    <%= render partial: "information", locals: {group: @group} %>
    <%= render partial: "member", locals: {group: @group} %>
  </div>
</div>
<div class="modal-show-exam-user"></div>
