<h3><%= @exam.title %></h3>
<hr>
<% if @exam.description? %>
  <h4><%= @exam.description %></h4>
  <hr>
<% end %>
<div class="row show-question">
  <div class="col-md-10 col-md-offset-1">
    <% if @questions.size < 1 %>
      <span class="label label-danger"><%= t "message.no_question" %></span>
    <% else %>
      <ol>
        <% @questions.each_with_index do |question, index| %>
          <%= render "question", f: question, index: index %>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>
<div class="pagination">
  <%= paginate @questions %>
</div>
