<% provide :title, t("title.show_all_category") %>
<h2><%= t "category.index.all" %></h2>
<div class="row">
  <table class="table">
    <tr>
      <td>#</td>
      <td><%= t "category.index.title" %></td>
      <td></td>
    </tr>
    <% @categories.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to item.title, [:admin, item], title: item.title %>
        </td>
        <td>
          <%= link_to edit_admin_category_path(item), class: "btn btn-primary" do %>
            <i class="fa fa-pencil"></i>
            <%= t "button.edit" %>
          <% end %>
           <%= link_to admin_category_path(item), method: :delete,
            data: {confirm: "Are you sure ?"},class: "btn btn-danger" do %>
            <i class="fa fa-times"></i>
            <%= t "button.delete" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
