<% alphabet = ("A".."Z").to_a.take question.answers.size %>
<% i = 0  %>
<div class="col-md-12">
  <div class="panel panel-green">
    <div class="panel-heading"><li><strong><%= question.title.html_safe %></strong></li></div>
      <div class="panel-body">
        <div class="image-answer">
          <% unless question.avatar_file_name.nil? %>
            <%= image_tag question.avatar.url, class: "image-exam" %>
          <% end %>
        </div>
     <div class="answer-body">
        <% if question.single_choice? %>
          <% question.answers.each do |ans| %>
            <div class="radio" style="border-bottom:1px solid #ddd; padding: 5px;">
              <%= alphabet[i] %>.
              <% i= i + 1 %>
              <input type="radio" disabled <%= is_checked? ans.id, @exam_user %>/>
              <label class="label-answer"><%= ans.content.html_safe %></label>
              <div class="image-answer">
                <% unless ans.avatar_file_name.nil? %>
                  <%= image_tag ans.avatar.url, class: "image-exam" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else question.multiple_choice? %>
          <% question.answers.each do |ans| %>
            <div class="checkbox checkbox-primary" style="border-bottom:1px solid #ddd">
              <%= alphabet[i] %>.
              <% i = i + 1 %>
              <input type="checkbox" disabled <%= is_checked? ans.id, @exam_user %>/>
              <label class="label-answer"><%= ans.content.html_safe %></label>
              <div class="image-answer">
                <% unless ans.avatar_file_name.nil? %>
                  <%= image_tag ans.avatar.url, class: "image-exam" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="result">
      <% if @exam_user.finished? %>
        <% if correct? question, @exam_user %>
          <span class="label label-primary">Correct</span>
        <% elsif no_choice question, @exam_user %>
          <span class="label label-info">No choice</span>
        <% else %>
          <span class="label label-danger">Wrong</span>
        <% end %>
      <% end %>
    </div>
    <div class="feedback">
      <% if question.feedback? %>
        <%= question.feedback %>
      <% end %>
    </div>
   </div>
  </div>
</div>
