<% provide :title, t("title.sign_up") %>
<%= form_for [:admin, @user] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :role, value: :admin %>
  <div class="col-md-6 col-md-offset-3">
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <%= f.submit t("button.submit"), class: "btn btn-primary sign_up" %>
  </div>
<% end %>
