<%= form_for @exam do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.collect{|u| [u.title, u.id]},
      {include_blank: "Select"}, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, cols: 10, rows: 10, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.submit t("button.create"), class: "btn btn-primary button" %>
  </div>
<% end %>
