<%= form_for @exam, html: { multipart: true, class: "form-horizontal" } do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <fieldset>
    <legend>Basic Exam Information</legend>
    <div class="form-group">
      <div class="col-md-2 control-label"><%= f.label :title %></div>
      <div class="col-md-4">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label"><%= f.label :category_id %></div>
      <div class="col-md-4">
        <%= f.select :category_id, Category.all.collect{|u| [u.title, u.id]},
          {include_blank: "Select"}, {class: "form-control"} %>
        </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label"><%= f.label :description %></div>
      <div class="col-md-10">
        <%= f.text_area :description, rows: 7, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 control-label"><%= f.label :avatar %></div>
      <div class="col-md-4"><%= f.file_field :avatar %></div>
    </div>
    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <%= f.submit t("button.create"), class: "btn btn-primary button" %>
      </div>
    </div>
  </fieldset>
<% end %>
