<div class="row">
  <div class="col-md-8">
    <h3><%= @exam.title %></h3>
  </div>
  <div class="col-md-4">
    <ul class="nav nav-pills">
      <li role="presentation" class="active">
        <%= link_to edit_exam_path @exam do %>
          <i class="fa fa-pencil fa-fw"></i>
          <%= t("button.edit") %>
        <% end %>
      </li>
      <li role="presentation", class="active" >
        <%= link_to new_exam_question_path(@exam), class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <%= t("button.new_question") %>
        <% end %>
      </li>
      <li role="presentation", class="active">
        <a href="#"><i class="fa fa-cog fa-fw"></i>Setting</a>
      </li>
    </ul>
  </div>
</div>
<div class="row questions">
  <table class="table">
    <tr>
      <td><%= t ".title" %></td>
      <td></td>
    </tr>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td>
          <%= link_to edit_exam_question_path(@exam, question),
            class: "btn btn-primary" do %>
            <i class="fa fa-pencil fa-fw"></i>
            <%= t("button.edit") %>
          <% end %>
          <%= link_to exam_question_path(@exam, question), method: :delete,
            data: {confirm: "Are you sure ?"}, class: "btn btn-danger" do %>
            <i class="fa fa-trash-o fa-fw"></i>
            <%= t("button.delete") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
