<div class="row">
  <div class="col-md-8">
    <h3><%= @exam.title %></h3>
  </div>
  <div class="col-md-4">
    <ul class="nav nav-pills">
      <li role="presentation" class="active">
        <%= link_to t("button.edit"), edit_exam_path(@exam) %>
      </li>
      <li role="presentation" class="active">
        <%= link_to t("button.new_question"), new_exam_question_path(@exam) %>
      </li>
      <li role="presentation" class="active"><a href="#">Setting</a></li>
    </ul>
  </div>
</div>
<div class="row questions">
  <table class="table">
    <tr>
      <td><%= t ".title" %></td>
      <td></td>
    </tr>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td>
          <%= link_to t("button.edit"), edit_exam_question_path(@exam, question),
            class: "btn btn-primary" %>
          <%= link_to t("button.delete"), exam_question_path(@exam, question), method: :delete,
            data: {confirm: "Are you sure ?"}, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>

</div>
