<% provide :title, t("title.add_exam") %>
<h2>Add Exam</h2>
<%= form_for @group do |f| %>
  <div class="field">
    <%= f.label "Exam" %><br />
    <%= f.collection_check_boxes :exam_ids, @exams, :id, :title do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <div class="field">
    <%= f.submit t("button.submit"), class: "btn btn-danger" %>
  </div>
<% end %>

